* {
    padding: 0;
    margin: 0;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.background {
    width: 100%;
    display: block;
}

.asset {
    position: absolute;
}


#sun {
    right: 38%;
    top: -20px;
}

#log1 {
    right: -50px;
    top: 650px;
}

#log2 {
    left: 400px;
    top: 570px;
}

#log3 {
    left: -50px;
    top: 800px;
}

#tree1 {
    left: 400px;
    top: 50px;
}

#tree2 {
    left: -150px;
    top: 0;
}

#tree3 {
    left: -50px;
    top: -20px;
}

#flower1 {
    right: 270px;
    top: 570px;
}

#flower2 {
    right: 50px;
    top: 600px;
}

#bird1 {
    right: 500px;
    top: 100px;
}

#leaf1 {
    left: 320px;
    top: 800px;
}

#leaf2 {
    left: 450px;
    top: 780px;
}

#leaf3 {
    left: 600px;
    top: 800px;
}

#leaf4 {
    left: 750px;
    top: 850px;
}


#leaf5 {
    right: 500px;
    top: 750px;
}

#leaf6 {
    right: 290px;
    top: 680px;
}


#mushroom1 {
    right: 500px;
    top: 1350px;
}

#mushroom2 {
    right: 290px;
    top: 350px;
}

#butterfly1 {
    left: 200px;
    top: 200px;
}


#butterfly2 {
    left: 500px;
    top: 100px;
}


#butterfly3 {
    right: 150px;
    top: 250px;
}

#animal1 {
    left: 200px;
    top: 1500px;
}


#animal2 {
    right: 100px;
    top: 1200px;
}

#bug1 {
    left: 100px;
    top: 1100px;
}


#bug2 {
    right: 300px;
    top: 1100px;
}

#roots1 {
    right: 350px;
    top: 900px;
}



